:root {
    z-index: 5;
}

.modal-container {
    display: flex;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.01);
}

.modal {
    margin: auto;
}

.play-again {
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

.play-again:hover {
    background-color: white;
    color: black;
}

.hide {
    display: none;
}