#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 20%;
  text-align: center;
}

table {
  width: 100%;
  margin-top: 3rem;
}

thead {
  position: sticky;
  top: 0;
  background-color: #151515;
  padding: 0 10px;
  z-index: 1;
  box-shadow: 0 0 20px 20px #242424;
  border-radius: 10px;
}

th {
  cursor: crosshair;
  padding: 0.8rem 0;
}

th:hover {
  background-color: #007bff;
}

th:active {
  background-color: #0056b3;
}

tbody tr:nth-child(even) {
  background-color: #151515;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type='text']{
  appearance: none;
  border: none;
  background-color: #151515;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  transition-duration: 0.2s;
}

input[type='text']:focus{
  box-shadow: 0 0 10px 3px #151515;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
}


@media (width<600px) {
  #root {
    padding: 2rem 10%;
  }

  table {
    width: auto;
  }
}

@media (width<500px) {
  #root {
    padding: 2rem 1%;
  }
}