.player {
    border: 2px solid white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}
  
.active {
    background-color: white;
    animation: spown 0.3s ease-in forwards;
}
  
@keyframes spown {
    0% {
      background: transparent;
    }
    100% {
      background: white
    }
}